## General

# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.la
*.a

# Compiled binaries or data
coop-cut/coopcut
comm-cut/commcut
*.bin

# Compiled python
*.pyc

# Compiled MATLAB
*.mex*

# Editor temporaries
*.swp
*~

# IPython notebook checkpoints
.ipynb_checkpoints

## Project data

data

## Virtualenv
.Python
bin/
etc/
include/
lib/
pip-selfcheck.json
share/

## Tests
.pytest_cache/
pycoop/.pytest_cache/

## Pycharm
.idea/
